<a href="https://colab.research.google.com/github/LaraAyrolla/Python-Projects/blob/main/simple-lists/pandas/Pandas-5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Trabalhando com o SQLite e Pandas** - Exercício 1

##### **Aluna: Lara Luísa Ayrolla Abreu**

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
# Implemente um código Python para:
# Criar um banco de dados, DBProdutos.db

conexao = sqlite3.connect('DBProdutos.db')

In [ ]:
# Criar a tabela produto, com os seguintes campos:
# - idProduto: integer
# - nome: varchar(100)
# - preco: numeric

cursor = conexao.cursor()

sql = 'create table produto('\
'idProduto integer primary key autoincrement,'\
'nome varchar(100) not null,'\
'preco float)'

cursor.execute(sql)

In [ ]:
# Inserir 6 linhas na tabela produto, com os dados definidos por você

sql = 'insert into produto (nome, preco) values(?,?)'

produtos = [['Nuggets','14'],['Iscas','17'],['Bolinha','55'],['Pipoca','3'],['Arroz','8']]

for produto in produtos:
    cursor.execute(sql, produto)
    print(produto)

conexao.commit()

['Nuggets', '14']
['Iscas', '17']
['Bolinha', '55']
['Pipoca', '3']
['Arroz', '8']

In [ ]:
# Inserir uma nova linha contendo somente o idProduto e o nome (o preço do produto será NULL)

sql = 'insert into produto (nome) values(?)'
cursor.execute(sql, ['Pastel'])
conexao.commit()

In [ ]:
# Executar uma instrução SQL para:
# - Reajustar o preço de todos os produtos em 20%

sql = 'update produto set preco = preco*1.20'
cursor.execute(sql)
conexao.commit()

In [ ]:
# - Excluir do banco de dados um produto qualquer

sql = 'delete from produto where nome = \'Arroz\''
cursor.execute(sql)
conexao.commit()

In [ ]:
# - Listar todos os dados dos produtos cujo preço seja maior ou igual a R$ 50,00

sql = 'select * from produto where preco >= 50'
produtos = cursor.execute(sql)

for produto in produtos:
    print(produto)

(3, 'Bolinha', 66.0)

In [ ]:
# - Listar a média dos preços, o maior e o menor preço
# Obs.: a listagem deve ser feita exibindo os dados em forma de lista

sql = 'select AVG(preco), MAX(preco), MIN(preco) from produto'
metricasPrecos = cursor.execute(sql)

listaPrecos = list(metricasPrecos)
print(listaPrecos)

[(26.7, 66.0, 3.5999999999999996)]

In [ ]:
# Criar, no banco de dados DBProdutos, uma tabela chamada listaProdutos, contendo somente as
# colunas nome e preco.

sql = 'create table listaProdutos('\
'nome varchar(100) not null,'\
'preco float)'

cursor.execute(sql)

In [ ]:
# Inserir nesta tabela os produtos, da tabela produto, cujo código seja menor ou igual a 4.
# Inserir os dados através de comandos SQL insert

sql = 'insert into listaProdutos (nome, preco)'\
'select nome, preco from produto WHERE idProduto <= 4'

cursor.execute(sql)
conexao.commit()

In [ ]:
# Executar uma consulta SQL que exiba todos os dados da tabela listaProdutos.

sql = 'select * from listaProdutos'
listaProdutos = cursor.execute(sql)

for produto in listaProdutos:
    print(produto)

('Nuggets', 16.8)
('Iscas', 20.4)
('Bolinha', 66.0)
('Pipoca', 3.5999999999999996)

In [ ]:
# Carregar os dados da tabela listaProdutos para um dataframe Pandas, e exibir os dados do
# dataframe.

df = pd.read_sql_query("SELECT * from listaProdutos", conexao)

df

      nome  preco
0  Nuggets   16.8
1    Iscas   20.4
2  Bolinha   66.0
3   Pipoca    3.6

In [ ]:
# Realizar o download do banco de dados DBProdutos.db e abri-lo no site www.sqliteonline.com

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.

.